body  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: rgb(177, 224, 217);
}

h3, ul, ol {
  text-align: left;
}

h1 {
  color: rgb(52, 52, 168);
}

h2, h3 {
  background-color:cadetblue;
  color: white;
  padding: 8px;
}

.lists {
  width: 600px;
  margin: 0 auto;
}

.description {
  font-size: 18px;
  width: 500px;
  margin: 0 auto;
  border-style: dashed;
  padding: 10px;
  background: cadetblue;
  color: white;
}

img {
  height: auto;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tall-img {
  height: auto;
  width: 300px;
}

.return-home, .credit {
  font-weight: bold;
  font-size: 18px;
}

.home-nav {
  text-align: center;
}

.credit {
  font-size: 12px;
}