body  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h3,
ul,
ol {
  text-align: left;
}

.description {
  font-size: 18px;
}

img {
  height: auto;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tall-img {
  height: auto;
  width: 300px;
}

.return-home,
.credit {
    font-weight: bold;
}

.credit {
  font-size: 12px;
}